In [2]:
import pandas as pd

In [12]:
hcr_dev = pd.read_csv('HCR_formatted_dev.csv')
hcr_train = pd.read_csv('HCR_formatted_train.csv')
#kaggle = pd.read_csv('kaggle.csv')
omd = pd.read_csv('omd_formatted.csv')
#airline = pd.read_csv('Tweets.csv')

In [13]:
columns = ['tweet','sentiment']

In [22]:
omd.head()

   Unnamed: 0                                              tweet sentiment
0           0  Watching by myself  #tweetdebate Not drinking ...  negative
1           1  "@ahg3 @MichDot Yeah, slime was actually my se...  negative
2           2      Preparing to have a heart attack #tweetdebate  negative
3           3  "no debate moderators under 50, sorry  #tweetd...  negative
4           4  @current Now staring at black screen on http:/...  negative

In [24]:
omd = omd.drop(['Unnamed: 0'],1)

In [25]:
omd.columns = columns
omd.head()

                                               tweet sentiment
0  Watching by myself  #tweetdebate Not drinking ...  negative
1  "@ahg3 @MichDot Yeah, slime was actually my se...  negative
2      Preparing to have a heart attack #tweetdebate  negative
3  "no debate moderators under 50, sorry  #tweetd...  negative
4  @current Now staring at black screen on http:/...  negative

In [26]:
#airline.drop(airline.columns.difference(['airline_sentiment','text']), 1, inplace=True)

In [28]:
#hcr_dev = hcr_dev.reindex(columns=['text','airline_sentiment'])
#airline.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [29]:
airline.columns = columns

In [31]:
without_kaggle = pd.read_csv('without_kaggle.csv')

In [ ]:
without_kaggle = pd.concat([airline, without_kaggle])
without_kaggle.

In [16]:
omd = omd.drop(['Unnamed: 0'], axis=1)
omd.columns = columns
omd.head()

                                               tweet sentiment
0  Watching by myself  #tweetdebate Not drinking ...  negative
1  "@ahg3 @MichDot Yeah, slime was actually my se...  negative
2      Preparing to have a heart attack #tweetdebate  negative
3  "no debate moderators under 50, sorry  #tweetd...  negative
4  @current Now staring at black screen on http:/...  negative

In [26]:
best_data = pd.concat([hcr_dev, hcr_train, omd])
len(best_data)

4701

In [19]:
without_kaggle = pd.concat([hcr_dev, hcr_train, omd])

In [27]:
best_data.to_csv('hcr_omd.csv')
#without_kaggle.to_csv('without_kaggle.csv')

In [ ]:
kaggle.head()